<label class="novo-pedido-label">Novo pedido #{{novoPedidoCodigo}}</label>
<div class="novo-pedido">
    <div class="cliente">
        <div class="cliente-label">
            <img src="../../../assets/icones/icone-cliente.png">
            <label>Cliente</label>
        </div>
        <div class="cliente-select col-md-6">
            <ng-select class="custom" #selectcliente [items]="clientes" bindLabel="nome"
                placeholder="Informe um cliente *" (change)="setClienteSelecionado($event)">
            </ng-select>
        </div>
    </div>
    <div class="carrinho">
        <div class="carrinho-label">
            <img src="../../../assets/icones/icone-carrinho.png">
            <label>Carrinho</label>
        </div>
        <div class="carrinho-select col-md-6">
            <ng-select class="custom" #selectproduto [items]="produtos" bindLabel="nome"
                placeholder="Pesquise um produto" (change)="setProdutoSelecionado($event)">
                <ng-template ng-option-tmp let-produto="item">
                    <div class="carrinho-select-button" (click)="adicionarProduto(produto)">{{produto.nome}}</div>
                </ng-template>
            </ng-select>
        </div>
        <div *ngIf="carrinhoVazio()" class="carrinho-vazio">
            <img class="carrinho-vazio-icone" src="../../../assets/icones/imagem-carrinho-empty-state.png">
            <label class="carrinho-vazio-label-1">Carrinho vazio</label>
            <label class="carrinho-vazio-label-2">Nenhum produto foi inserido</label>
        </div>
        <div *ngIf="!carrinhoVazio()" class="carrinho-lista">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let produto of produtosEscolhidos">
                        <div class="carrinho-lista-item">
                            <div class="carrinho-lista-item-icone">
                                <img src="../../../assets/icones/icone-pedidos-sm.png">
                            </div>
                            <div class="carrinho-lista-item-label">
                                <label class="carrinho-lista-item-label-1">{{produto.codigo}}</label>
                                <label class="carrinho-lista-item-label-2">{{obterNomeAjustado(produto)}}</label>
                            </div>
                            <div class="carrinho-lista-item-unitario">
                                <label>x R$ {{formatarPreco(produto.precoUnitario)}}</label>
                            </div>
                            <div class="carrinho-lista-item-total">
                                <label>R$ {{formatarPreco(produto.precoUnitario*produto.quantidade)}}</label>
                            </div>
                            <div class="carrinho-lista-item-quantidade">
                                <input type="text" class="input-quantidade" value="1"
                                    onkeyup="this.value=this.value.replace(/[^\d]/,''); (this.value > 99) ? this.value = 99 : this.value = this.value"
                                    (keyup)="ajustarPrecoTotal(produto, $event)">
                            </div>
                            <div class="carrinho-lista-item-deletar">
                                <button class="btn" (click)="removerProduto(produto)">
                                    <img src="../../../assets/icones/icone-apagar-sm.png">
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="total">
        <div class="total-label">
            <img src="../../../assets/icones/icone-total.png">
            <label>Total</label>
        </div>
        <label class="total-descricao-itens">Itens</label>
        <label class="total-descricao-frete">Frete</label>
        <label class="total-descricao-total">Total</label>
        <label class="total-descricao-itens-valor">R$ {{obterValorItens()}}</label>
        <label class="total-descricao-frete-valor">R$ {{obterValorFrete()}}</label>
        <label class="total-descricao-total-valor">R$ {{obterValorTotal()}}</label>
        <button class="btn total-botao-top row col-md-5" (click)="finalizarPedido()">
            <label class="total-botao-top-label">Finalizar pedido</label>
        </button>
        <button class="btn total-botao-bot row col-md-5" (click)="limparCarrinho()">
            <label class="total-botao-bot-label">Limpar carrinho</label>
        </button>
        <div class="toasts">
            <div class="toastErro" *ngIf="toast == 'erro'">Erro ao finalizar pedido!</div>
            <div class="toastErro" *ngIf="toast == 'erro-cliente-carrinho'">Cliente não selecionado ou carrinho vazio</div>
            <div class="toastSucesso" *ngIf="toast == 'sucesso'">Pedido finalizado com sucesso!</div>
          </div>
    </div>
</div>