.novo-pedido-label {
    position: absolute;
    width: 297px;
    height: 24px;
    left: 120px;
    top: 126px;

    font-family: Euclid Circular B Bold;
    font-size: 26px;
    line-height: 24px;
}

.novo-pedido {
    position: absolute;
    left: 4.17%;
    right: 4.24%;
    top: 12.57%;
    bottom: 4.18%;
}

.cliente {
    position: absolute;
    left: 4.17%;
    right: 4.24%;
    top: 9.57%;
    bottom: 65.55%;
    display: flex;
    align-items: flex-end;
    background: #ffffff;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.cliente-label {
    position: absolute;
    left: 2.79%;
    right: 89.48%;
    top: 20.55%;
    bottom: 63.46%;

    font-family: Euclid Circular B Bold;
    font-size: 22.75px;
    line-height: 24px;
    /* or 105% */

    display: flex;
    align-items: flex-end;

    color: #373a3c;
}

.cliente-select {
    position: absolute;
    left: 1.9%;
    right: 51.08%;
    top: 49.86%;
    bottom: 24.82%;
    font-family: Euclid Circular B Light;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.carrinho {
    position: absolute;
    left: 4.17%;
    right: 4.24%;
    top: 39.03%;
    bottom: -4%;

    display: flex;
    align-items: flex-end;

    background: #ffffff;

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.carrinho-label {
    position: absolute;
    left: 2.72%;
    right: 88.04%;
    top: 7.09%;
    bottom: 87.91%;

    font-family: Euclid Circular B Bold;
    font-size: 22.75px;
    line-height: 24px;

    display: flex;
    align-items: flex-end;

    color: #373a3c;
}

.carrinho-select {
    position: absolute;
    left: 1.9%;
    right: 54.36%;
    top: 18.42%;
    bottom: 73.66%;
    font-family: Euclid Circular B Light;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.carrinho-select-button {
    width: 100%;
    text-align: left;
}

.carrinho-vazio {
    position: absolute;
    left: 40.25%;
    right: 40.48%;
    top: 32.91%;
    bottom: 15.44%;
}

.carrinho-vazio-icone {
    position: absolute;
    left: 22.47%;
    right: 19.44%;
    top: 0%;
    bottom: 40.32%;
}

.carrinho-vazio-label-1 {
    position: absolute;
    left: 5.01%;
    right: -0.92%;
    top: 78.21%;
    bottom: 14.11%;
    width: 300px;

    font-family: Euclid Circular B Bold;
    font-size: 36px;
    line-height: 24px;
    /* or 67% */

    color: rgba(0, 0, 0, 0.4);
}

.carrinho-vazio-label-2 {
    position: absolute;
    left: -10.53%;
    right: -4.31%;
    top: 99.95%;
    bottom: -1.97%;
    width: 300px;

    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;

    color: rgba(0, 0, 0, 0.4);
}

.carrinho-lista {
    position: absolute;
    left: 2.88%;
    right: 2.35%;
    top: 32.76%;
    bottom: 36.62%;
    height: 230px;
    overflow: auto;
}

.carrinho-lista-item {
    height: 120px;
}

.carrinho-lista-item-label {
    position: absolute;
    left: 9.76%;
    right: 68.4%;
    top: 41.47%;
    bottom: 30.77%;
}

.carrinho-lista-item-label-1 {
    position: absolute;
    left: 9.76%;
    right: 76.39%;
    top: 31.47%;
    bottom: 47.55%;
    width: 300px;

    font-family: Euclid Circular B Light;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    align-items: flex-end;

    color: rgba(0, 0, 0, 0.4);
}

.carrinho-lista-item-label-2 {
    position: absolute;
    left: 9.76%;
    right: 68.4%;
    top: 52.45%;
    bottom: 30.77%;
    width: 800px;

    font-family: Euclid Circular B Bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.carrinho-lista-item-unitario {
    position: absolute;
    left: 85.28%;
    right: 4.8%;
    top: 27.27%;
    bottom: 46.75%;
    width: 100px;

    font-family: Euclid Circular B Light;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    align-items: flex-end;
    text-align: right;
}

.carrinho-lista-item-total {
    position: absolute;
    left: 82.56%;
    right: 4.8%;
    top: 52.45%;
    bottom: 21.57%;
    width: 150px;

    font-family: Euclid Circular B Bold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #373a3c;
}

.carrinho-lista-item-quantidade {
    position: absolute;
    left: 82.5%;
    right: 11.84%;
    top: 23.87%;
    bottom: 51.05%;
}

.carrinho-lista-item-icone {
    position: absolute;
    left: 3.5%;
    right: 91.84%;
    top: 38.69%;
    bottom: 14.69%;
    border-radius: 241.5px;
}

.carrinho-lista-item-deletar {
    position: absolute;
    left: 96.2%;
    right: 1.12%;
    top: 36.66%;
    bottom: 12.66%;
}

.input-quantidade {
    width: 30px;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-family: Euclid Circular B Light;
    color: #868686;
}

.total {
    position: absolute;
    height: 280px;
    left: 4.17%;
    right: 4.24%;
    top: 108%;
    margin-bottom: 20px;

    display: flex;
    align-items: flex-end;

    background: #ffffff;

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.total-label {
    position: absolute;
    left: 2.72%;
    right: 88.04%;
    top: 13.24%;
    bottom: 77.42%;

    font-family: Euclid Circular B Bold;
    font-size: 22.75px;
    line-height: 24px;

    display: flex;
    align-items: flex-end;

    color: #373a3c;
}

.total-botao-top {
    position: absolute;
    left: 52.62%;
    right: 1.74%;
    top: 34.4%;
    bottom: 44.8%;

    background: #5cb85c;
    border-radius: 4px;
}

.total-botao-bot {
    position: absolute;
    left: 52.62%;
    right: 1.74%;
    top: 62.8%;
    bottom: 16.4%;

    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.total-botao-top-label {
    font-family: Euclid Circular B Light;
    font-size: 20px;
    line-height: 10px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #ffffff;
}

.total-botao-bot-label {
    font-family: Euclid Circular B Light;
    font-size: 20px;
    line-height: 10px;
    /* identical to box height, or 125% */

    color: #000000;
}

.total-descricao-itens {
    position: absolute;
    left: 2.81%;
    right: 84.07%;
    top: 34.4%;
    bottom: 53.6%;

    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: flex-end;

    color: rgba(0, 0, 0, 0.4);
}
.total-descricao-frete {
    position: absolute;
    left: 2.81%;
    right: 83.76%;
    top: 49.6%;
    bottom: 38.4%;

    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: flex-end;

    color: rgba(0, 0, 0, 0.4);
}
.total-descricao-total {
    position: absolute;
    left: 2.81%;
    right: 83.92%;
    top: 77.6%;
    bottom: 10.4%;

    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: flex-end;

    color: rgba(0, 0, 0, 0.4);
}
.total-descricao-itens-valor {
    position: absolute;
    left: 32.87%;
    right: 51.1%;
    top: 34.4%;
    bottom: 53.6%;

    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #373a3c;
}
.total-descricao-frete-valor {
    position: absolute;
    left: 32.87%;
    right: 51.1%;
    top: 49.6%;
    bottom: 38.4%;

    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #373a3c;
}
.total-descricao-total-valor {
    position: absolute;
    left: 32.81%;
    right: 51.1%;
    top: 77.6%;
    bottom: 10.4%;

    font-family: Euclid Circular B;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #373a3c;
}

.toasts {
    position: fixed;
    top: 80px;
    right: 30px;
    width: 400px;
}

.toastErro {
    color: #721c24;
    background-color: #f8d7da;
    padding: .75rem 1.25rem;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #f5c6cb;
    position: relative;
    width: 100%;
    animation-name: toast;
    animation-duration: 5s;
}

.toastSucesso {
    color: #0f8800;
    background-color: #d1f3d3;
    padding: .75rem 1.25rem;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #62d268;
    position: relative;
    width: 100%;
    animation-name: toast;
    animation-duration: 5s;
}

@keyframes toast {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
